#footer{
    
    
    position: sticky;
    z-index: -1;
    
    height: 100%;
    /* bottom: 7px; */
    width: 100%;
    text-align: center;
    border : 2px solid black;
    border-top: none;
    padding:14px;
    background-color: gainsboro;
    
}
#heart{
    color: red;
    
}
/* border:2px solid black;
    position: fixed;
    z-index: -1;
    width: 100%;
            /* Height of the footer*/ 
    /*height: 50px;
    background: grey;
    text-align: center; */
            /* position: absolute;
            bottom: 1px;
            width: 100%;
            height:50px;
             */