.header{
    display: flex;
    
    align-items: center;
    justify-content:space-between;
    /* flex-flow: wrap;
    align-items: baseline;
    /* border:2px solid blue; */
    /*border-radius: 10px;
    height:80px;
    flex-basis: 50%; */
}   
.btns{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}
.signinbtn{
    margin-right: 16px;
    border-radius: 20px;
    height: 44px;
    padding: 11px;
    width: 95px;
}
.signupbtn{
    margin-left: 12px;
    border-radius: 20px;
    height:44px;
    padding: 11px;
    width: 95px;
}
.signoutbtn{
    border-radius: 20px;
    width: 95px;
    height:44px;
}
#title{
    font-family: cursive;
    font-size: 40px;
    flex-basis: 83%;
}


    

#icon{
margin-right: 3px;
}
/* flex-basis: 50%;
align-items: baseline;
justify-content: end;
margin-left: -20px;
margin-right: 23px;
height: 50px;
border-radius: 20px;
width: 78px; */