.posts{
text-align: center;

}
* {
    box-sizing: border-box;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    border: 1px solid rgb(0, 0, 0);
    margin-top: -1px; /* Prevent double borders */
    background-color:rgb(130, 255, 255);
    padding: 12px;
    text-align: center;
    margin:12px;
    margin-bottom: 24px;
    height: 66px;
    text-decoration: solid;
  } 
 